/* add your CSS here */

#card {
  width: 300px;
  border: 3px solid #567;
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px;
  background-color: #5d6;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  box-shadow: 10px 10px 5px #ddd;
}

img {
  width: 300px;
  margin-bottom: 10px;
  border: 2px solid #567;
  border-radius: 10px;
}

.interesting-facts {
  font-style: italic;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.item {
  font-weight: bold;
}

.description {
  background-color: #4b5;
  border: 2px solid #567;
  border-radius: 10px;
  padding: 5px 10px;
}

h3 {
  text-align: center;
  margin-top: 0;
}

p {
  text-align: justify;
}
